@using ListingToDoDb.Models.ViewModels;

@model List<ToDo>

<html>
<head>
    <link rel="stylesheet" href="~/Styles/style.css">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Todos for today</title>
</head>
<body>
    <div class="search">
        <form class="example" action="search" method="post">
            <input type="text" placeholder="Type to search..." name="search">
            <button type="submit" class="border border-dark">Search</button>
        </form>
    </div>
    <div class="header">
        <header>Todos for today</header>
    </div>
    <a href="addTask" class="button">Add Task</a>
    <a href="listAssignee" class="button">List of Assignees</a>
    <table class="table table-striped table-dark table-bordered table-hover table-md">
        <thead class="thead">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">TITLE</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">IS URGENT</th>
                <th scope="col">IS DONE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td scope="row">@task.Id</td>
                    <td scope="row">@task.Title</td>
                    <td scope="row">@task.Description</td>
                    <td scope="row">@task.IsUrgent</td>
                    <td scope="row">@task.IsDone</td>
                    <td scope="row">@Html.ActionLink("Edit", "editTodo", "Todo", new { id = task.Id })</td>
                    <td scope="row">@Html.ActionLink("Remove", "removeTodo", "Todo", new { id = task.Id })</td>
                </tr>
            }
        </tbody>
    </table>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>